<div class="container" *ngIf="hab.nombre">
    <h5>Actualizar Hard & Soft Skills</h5>

    <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>

      <div class="form-group">
        <label for="nombre">Nombre de la Habilidad:</label>
        <input class="form-control" type="text" name="nombre" id="nombre"
          [(ngModel)]="hab.nombre" required autocomplete="off">
      </div>

      <div class="form-group">
        <label for="porcentaje">Porcentaje:</label>
        <input class="form-control" type="number" name="porcentaje" id="porcentaje" [(ngModel)]="hab.porcentaje" required
          autocomplete="off">
      </div>

      <div class="form-group">
        <label for="color">Color:</label>
        <input class="form-control" type="text" name="color" id="color" [(ngModel)]="hab.color" required
          autocomplete="off">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Actualizar</button>
      </div>

    </form>

    <div>
      <button class="btn btn-primary float-left mr-3" (click)="volver()">Volver</button>
    </div>
    <br>
    <br>
    <div *ngIf="failActualizado" class="float-left">
      <p class="p-3 bg-danger text-white rounded">Error: {{msjErr}}</p>
    </div>
    <div *ngIf="actualizado" class="float-left">
      <p class="p-3 bg-success text-white rounded">OK: {{msjOK}}</p>
    </div>    
  </div>
