<div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                        <div class="carousel-item active">
                                <img src="./assets/Banner_2.jpg" class="d-block w-100" alt="Norberto Gatti">
                        </div>
                </div>
        </div>

        <div class="div_boton" *ngIf="isLogged">
                <button class="boton_editar" *ngIf="user === 'admin'" class="btn btn-warning"
                        routerLink="/editbanner/1">
                        Editar
                </button>
        </div>
</div>
