<div class="container" *ngIf="exp.tituloE">
    <h5>Actualizar Experiencia</h5>

    <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>

      <div class="form-group">
        <label for="tituloE">Cargo:</label>
        <input class="form-control" type="text" name="tituloE" id="tituloE"
          [(ngModel)]="exp.tituloE" required autocomplete="off">
      </div>

      <div class="form-group">
        <label for="nombreE">Nombre de la Empresa:</label>
        <input class="form-control" type="text" name="nombreE" id="nombreE" [(ngModel)]="exp.nombreE" required
          autocomplete="off">
      </div>

      <div class="form-group">
        <label for="fechaE">Fecha:</label>
        <input class="form-control" type="text" name="fechaE" id="fechaE" [(ngModel)]="exp.fechaE" required
          autocomplete="off">
      </div>

      <div class="form-group">
        <label for="descripcionE">Descripción:</label>
        <input class="form-control" type="text" name="descripcionE" id="descripcionE" [(ngModel)]="exp.descripcionE" required
          autocomplete="off">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Actualizar</button>
      </div>

    </form>

    <div>
      <button class="btn btn-primary float-left mr-3" (click)="volver()">Volver</button>
    </div>
    <br>
    <br>
    <div *ngIf="failActualizado" class="float-left">
      <p class="p-3 bg-danger text-white rounded">Error: {{msjErr}}</p>
    </div>
    <div *ngIf="actualizado" class="float-left">
      <p class="p-3 bg-success text-white rounded">OK: {{msjOK}}</p>
    </div>    
  </div>
